{% extends "base.html" %}

{% block content %}
<!-- <form action="{{ url_for('search') }}" method="POST">
	<fieldset>
		<legend>Search By:</legend>
		<select name="key">
			<option value="Title" selected> Title</option>
			<option value="ISBN"> ISBN</option>
			<option value="ID"> ID</option>
			<option value="Author"> Author</option>
			<option value="Publisher"> Publisher</option>
			<option value="Year"> Year</option>
		</select>
		<input type="text" name="data">
		<input type="submit" value="Search">
	</fieldset>
</form> -->
{% if results %}
{{ table(results) }}
{% endif %}
{% endblock %}