{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('search')}}" method="POST">
	<fieldset>
		<legend>Search By:</legend>
		<input type="radio" name="key" value="Title" checked> Title
		<input type="radio" name="key" value="ISBN"> ISBN
		<input type="radio" name="key" value="ID"> ID
		<input type="radio" name="key" value="Author"> Author(s)
		<input type="radio" name="key" value="Publisher"> Publisher
		<input type="radio" name="key" value="Year"> Year<br>
		<input type="text" name="data"><br>
		<input type="submit" value="Search">
	</fieldset>
</form>
{% if results %}{% for row in results %}
<table>

	<tr>
		<th colspan="2">{{ row.Title }}</th>
	</tr>
	<tr>
		<th colspan="2"><img src="{{ row.SmallPic }}" alt="{{ row.Title }}" style="height: 167; width: 128"> </th>
	</tr>
	<tr>
		<th>ID</th>
		<td>{{ row.ID }}</td>
	</tr>
	<tr>
		<th>Author(s)</th>
		<td>{{ row.Author }}</td>
	</tr>
	<tr>
		<th>ISBN</th>
		<td>{{ row.ISBN }}</td>
	</tr>
	<tr>
		<th>Year</th>
		<td>{{ row.Year }}</td>
	</tr>
	<tr>
		<th>Publisher</th>
		<td>{{ row.Publisher }}</td>
	</tr>

</table>{% endfor %}
{% endif %}
{% endblock %}